.App {
  text-align: center;
}


.box{
    min-height: 120px;
}
.box2{
    width: 150px;
}
.offcanvas{
    width: 200px;
}
.lift-main{
    width: 52%;
    height: 100%;
    position: fixed;
    left: 24%;
    background-color: #291407;
    background-size: 100% 100%;
    
}

.lift{
    width: 52%;
    height: 100%;
    position: fixed;
    left: 24%;
    background-image: url("../public/elevator.jpg");
    background-repeat: no-repeat;
    background-size: 100% 90%;
    
}
.left1{
    width: 5%;
    height: 110%;
    position: fixed;
    left: 24%;
    background-image: url("../public/elevator-door-left.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.left2{
    width: 5%;
    height: 110%;
    position: fixed;
    right: 24%;
    background-image: url("../public/elevator-door-left.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.door1{
    width: 24.9%;
    height: 100%;
    position: fixed;
    left: 25%;
    background-image: url("../public/elevator-door-left.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.door1Open{
    animation-name: door1Open;
    animation-duration: 1s;
    
}

@keyframes door1Open{
    0% {width:24.9%;}
    30% {width:0%;}
    70% {width:0%;}
    100% {width:24.9%;}
}

.door2{
    width: 24.9%;
    height: 100%;
    position: fixed;
    right: 25%;
    background-image: url("../public/elevator-door-left.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.door2Open{
    animation-name: door2Open;
    animation-duration: 1s;
    
}
@keyframes door2Open{
    0% {width:24.9%;}
    30% {width:0%;}
    70% {width:0%;}
    100% {width:24.9%;}
}

.alert{
    width: 22%;
    position: fixed;
    left: 77%;
}

.emer{
    position: fixed;
    left: 85%;
    top: 40%;
}
.hall{
    position: fixed;
    padding: 20px;
    left: 0px;
    top: 0px;
}

@media only screen and (max-width: 1200px){
    .emer{
        position: fixed;
        left: 85%;
        top: 40%;
    }
    .hall{
        position: fixed;
        padding: 20px;
        left: 0px;
        top: 0px;
    }
}
@media only screen and (max-width: 600px){
    .emer{
        position: fixed;
        left: 70%;
        top: 92%;
        z-index: 1;
    }
    .hall{
        position: fixed;
        padding: 20px;
        left: 2%;
        top: 90%;
        z-index: 1;
    }
    .alert{
        width: 22%;
        position: fixed;
        left:40%;
        top: 20%;
        z-index: 1;
    }
}
@media only screen and (max-width: 425px){
	.emer{
        position: fixed;
        left: 70%;
        top: 92%;
        z-index: 1;
    }
    .hall{
        position: fixed;
        padding: 20px;
        left: 2%;
        top: 90%;
        z-index: 1;
    }
        
}
